.container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 1050px;
    flex-direction: column;
}
.containerProducts{
    display: grid;
    grid-template-columns: 230px 230px 230px 230px 230px;
    grid-gap: 25px;
}