@use "../../styles/variaveis" as v;

.container{
    display: flex;
    flex-direction: column;
}
.produtosContainer{
    flex-direction: column;
    display: grid;
    grid-template-columns: 340px 340px 340px;
    grid-gap: 25px;
    justify-content: center;
}
.paginacao{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    button{
        display: flex;
        border: none;
        border-radius: 5px;
        background-color: v.$blue;
        color: white;
        padding: 5px 100px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }
    div{
        display: flex;
    }
    label{
        font-size: 20px;
        margin-left: 10px;
        cursor: pointer;
    }
    label.active{
        text-decoration: underline;
    }
}

@media screen and (max-width: 599.98px) {
    .produtosContainer{
        grid-template-columns: 340px;
    }
    .paginacao{
        flex-direction: column;
        div{
            justify-content: center;
        }
    }
}
@media screen and (min-width: 600px) and (max-width: 819.98px) {
    .produtosContainer{
        grid-template-columns: 340px 340px;
    }
}
@media screen and (min-width: 820px) and (max-width: 1099.98px){
    .produtosContainer{
        grid-template-columns: 340px 340px 340px;
    }
}
