.container{
    display: flex;
    flex-direction: column;
}
.produtosContainer{
    flex-direction: column;
    display: grid;
    grid-template-columns: 340px 340px 340px;
    grid-gap: 25px;
    cursor: pointer;
}
.filtroContainer{

}