.container{
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
}
.produtoContainer{
    text-align: center;
}
img{
    height: 200px;
    border-radius: 5%;
    object-fit: cover;
}