@use "../../../styles/variaveis" as v;

.container{
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 15px;
}
.produtoContainer{
    text-align: center;

    button{
        display: flex;
        border: none;
        border-radius: 5px;
        background-color: v.$blue;
        color: white;
        padding: 5px 100px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }
    img{
        height: 200px;
        border-radius: 5%;
        object-fit: cover;
    }
}
.produto{
    cursor: pointer;
    margin-bottom: 30px;

    p{
        font-size: 22px;
        font-weight: bold;
        color: v.$blue;
    }
}

.user_cart{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;
}